body {
    font-family: 'Roboto', sans-serif;
}

.appointment-wrapper {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    height: calc(98vh - 40px);
    width: calc(98vw - 40px);;
}